<%= render "/textbooks/nav_bar", textbook: @textbook %>
<h1 style="text-align:center;"> <%= @current_user.email %>'s Profile </h1>
<h2>Your current textbooks</h2>
<% @textbooks.each do |textbook| %>
<div>
    <%= link_to(textbook) do %>
        <h2> <%= textbook.name %> </h2>
        <% end %>
        <% if textbook.price != nil %>
            <p>Price: $<%= textbook.price / 100.0 %> </p>
        <% else %>
            <p>Price n/a</p>
        <% end %>
        <% if textbook.retail_price != nil %>
            <p>Retail Price: $<%= textbook.retail_price / 100.0 %> </p>
        <% else %>
            <p>Retail Price n/a</p>
        <% end %>
        
<% end %>
</div>

