<% if textbook.errors.any? %>
    <% for error in textbook.errors.full_messages %>
    <p><%= error %></p>
    <% end %>
<% end %>

<%= form_with model: @textbook, local: true do |form| %>
    <div>
        <%= form.label :name %>
        <%= form.text_field :name, required: true %>
    </div>

    <div>
        <%= form.label :condition %>
        <%= form.select(:condition, ["Like New", "Good", "Poor quality"]) %>
    </div>

    <div>
        <%= form.label :subject %>
        <%= form.collection_select(:subject_id, Subject.all, :id, :name) %>
    </div>

    <div>
        <%= form.label :author %>
        <%= form.text_field :author %>
    </div>

    <div>
        <%= form.label :release_date %>
        <%= form.date_field :release_date %>
    </div>

    <div>
        <%= form.label :description %>
        <%= form.text_area :description %>
    </div>
    <div>
        <%= form.label :price, "Price (in cents)" %>
        <%= form.number_field :price, required: true %>
    </div>
    <div>
        <%= form.label :retail_price, "Retail Price" %>
        <%= form.number_field :retail_price %>
    </div>
    <div>
        <%= form.label :picture %>
        <%= form.file_field :picture, accept: "image/png,image/gif,image/jpg,image/jpeg" %>
    </div>
    


    <%= form.submit (textbook.id ? "Edit Textbook Listing" : "Create Textbook Listing") %>

<% end %>