<body style="background-color:lightblue">

<h1> Homepage </h1>
<section>
<form action="<%= textbooks_path %>" method="GET">
        <input type="search" name="search" />
    </form>
<% @subject.each do |subject| %>
    <%= link_to(subject) do %>
        <p> <%= subject.name %> </p>
        <% end %>
<% end %>


<% @textbook.each do |textbook| %>
    <%= link_to(textbook) do %>
        <p> <%= textbook.name %> </p>
        <% end %>
<% end %>
</section>
</body>