<%= render "nav_bar", textbook: @textbook %>

<h1> <%= @txtname %> </h1>
<h2> <%= @subjects[0] %> </h2>
<%= @textbook.to_json %>
<p> <strong>Author:</strong> <%= @textbook.author %></p>
<p> <strong>Condition:</strong> <%= @textbook.condition %></p>
<p><strong>Price:</strong> $<%if @textbook.price != nil %><%= @textbook.price/100.0%><% end %></p>
<p> <strong>Retail Price:</strong> $<%if false %><%= @textbook.retail_price/100.0 %> <% end %></p>

<%= link_to "edit", edit_textbook_path(@textbook) if current_user.id == @textbook.user_id %>